@import "general-layout.css";
@import "Index.css";
.postwrap {
    display:inline-grid;;

    
    grid-template-columns: 200px  auto 8px;
    grid-template-rows: auto auto auto auto  12px;
    grid-row-gap: 1px;
grid-column-gap: 9px;
    grid-template-areas:
        "header header"
        "men men"
        "post post"
        "newsletter newsletter"
        "ft ft";
}

@media (min-width: 300px) and (max-width: 600px) {
    .postwrap{
        display: grid;
        grid-template-columns: 200px  auto 8px;
        grid-template-rows: auto auto auto auto  3px;
        grid-template-areas: 
        "header header"
        "men men"
        "post post"
        "newsletter newsletter"
        "ft ft"
    }
}

header {
    grid-area: nav;
    display: flex;

    width: 100%;
    margin: auto;    
}

.site-name{
    font-size: 25px;
    color: #000; 
}
.social-media{
    padding-left: 50px;
    margin-left: 600px;
}
.social-media ul{
    padding-left: 50px;
    position: abslout;
    margin: 0;
    display: flex;
    justify-content: right;
    list-style-type: none;
}

.social-media ul li {
    list-style: none;
    margin: 0 15px;
    display: inline;
}

.social-media ul li .fa {
    font-size: 30px;
    line-height: 30px;
    transition: .6s;
    color: black;
    width:30px;
    text-align: left;
}
.social-media ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60; 

}
.fa:hover{opacity: 0.7;}

@media (min-width: 300px) and (max-width: 600px) {
    .social-media{
        display: none;
    }

}
.catgries{
    grid-area: men;
}

.post{
    grid-area: post;
    padding: 0 30px 20px 30px;

}
@media (min-width: 300px) and (max-width: 600px){
    .post{
        padding: 0 30px 0 30px;
    }
}

.post-meta{
    letter-spacing: 0.05em;
    font-weight: 900;
}

.post-meta > h2{ 
    font-size: 40px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
/* News-letter*/
.News-letter {
    grid-area: newsletter;
    padding-top: 90px;
}

footer {
    grid-area: ft;
}